atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/.apm
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes
atom.symlink/compile-cache
atom.symlink/blob-store
git/gitconfig.symlink
ssh.symlink/keys/
ssh.symlink/config
ssh.symlink/known_hosts
checklist.md
