"*":
  "release-notes":
    viewedVersion: "0.95.0"
  welcome:
    showOnStartup: false
  editor:
    showIndentGuide: false
    invisibles: {}
    showInvisibles: true
    backUpBeforeSaving: true
    fontFamily: "Menlo"
  core:
    disabledPackages: [
      "autocomplete"
      "exception-reporting"
      "metrics"
    ]
    projectHome: "~/code"
    audioBeep: false
    themes: [
      "atom-material-ui"
      "one-dark-syntax"
    ]
    packagesWithKeymapsDisabled: [
      "markdown-preview"
    ]
  minimap:
    autoToggle: true
    displayPluginsControls: false
    plugins: {}
  linter: {}
  "isotope-ui":
    backgroundColor: "false"
    fontFamily: "Source Sans Pro"
  "isotope-light-ui":
    fontFamily: "System Default"
    matchEditorFont: true
  autosave:
    enabled: true
  "atom-material-ui": {}
  "markdown-preview": {}
