"*":
  "atom-beautify":
    general:
      _analyticsUserId: "fae8eacf-a10b-4a99-b9c5-098668f27d71"
  "atom-material-ui": {}
  autosave:
    enabled: true
  core:
    audioBeep: false
    disabledPackages: [
      "autocomplete"
      "exception-reporting"
      "metrics"
    ]
    packagesWithKeymapsDisabled: [
      "markdown-preview"
    ]
    projectHome: "~/code"
    telemetryConsent: "no"
    themes: [
      "city-lights-ui"
      "city-lights-syntax"
    ]
  editor:
    backUpBeforeSaving: true
    fontFamily: "Menlo"
    invisibles: {}
    showIndentGuide: false
    showInvisibles: true
  "git-blame":
    columnWidth: 328
  "isotope-light-ui":
    fontFamily: "System Default"
    matchEditorFont: true
  "isotope-ui":
    backgroundColor: "false"
    fontFamily: "Source Sans Pro"
  linter: {}
  "markdown-preview": {}
  minimap:
    autoToggle: true
    displayPluginsControls: false
    plugins: {}
  "release-notes":
    viewedVersion: "0.95.0"
  welcome:
    showOnStartup: false
